<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacDial</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>44</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5ACCAFDDF56DCC3E83A0ADAAC5CB6A0A63A01B40</string>
				<key>dateExpires</key>
				<string>15.11.2025</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>2Y29N9EKUS.com.lonelybytes.macdial</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2Y29N9EKUS</string>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.automation.apple-events</key>
				<true/>
				<key>com.apple.security.device.bluetooth</key>
				<true/>
				<key>com.apple.security.device.usb</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MacDial.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>872fb9db-cad8-4d54-bd51-66f0db2b582f</string>
				<key>dateExpires</key>
				<string>06.08.2040</string>
				<key>name</key>
				<string>(Developer ID) Mac Dial Status Bar Item</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2Y29N9EKUS</string>
				<key>name</key>
				<string>Alexander Babaev</string>
			</dict>
			<key>versionNumber</key>
			<string>1.4.1</string>
		</dict>
	</array>
</dict>
</plist>
